@model SIMULACRO.Models.SolicitudCompra
@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>
<html lang="en">

    <body>

        <div class="col-6">
            <div class="text-left">
                <h1 class="">Registrar Nueva Solicitud de Compra</h1>
            </div>
        </div>

        <form  class="form-container" method="POST">
            <div asp-validation-summary="All"></div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="NombreProducto"></label>
                        <input asp-for="NombreProducto" type="text"class="form-control">
                    </div>  
    
                    <div class="form-group">
                        <label asp-for="FotoProducto"></label>
                        <input asp-for="FotoProducto" type="url" placeholder="https://tiendadelsur.com.mx/880-thickbox_default/ropero-taxco-estilo-contemporaneo.jpg" class="form-control">
                    </div>  
                    
                    <div class="form-group">
                        <label asp-for="Descripcion"></label>
                        <input asp-for="Descripcion" type="text"class="form-control">
                    </div> 

                    <div class="form-group">
                        <label asp-for="PrecioProducto"></label>
                        <input asp-for="PrecioProducto" type="text"class="form-control">
                    </div> 

                    <div class="form-group">
                        <label asp-for="Celular"></label>
                        <input asp-for="Celular" type="text"class="form-control">
                    </div> 
    
                    <div class="form-group">
                        <label asp-for="LugarCompra"></label>
                        <input asp-for="LugarCompra" type="text"class="form-control">
                    </div> 

                    <div class="form-group">
                        <label asp-for="NombreComprador"></label>
                        <input asp-for="NombreComprador" type="text"class="form-control">
                    </div>
                    <div class="form-group">
                        <<label asp-for="CategoriaProducto"></label>
                        <select name="CategoriaProducto" id="" class="form-control">
                            <option value="Tecnologia">Tecnología</option>
                            <option value="Arte">Arte</option>
                            <option value="Ropa">Ropa</option>
                            <option value="Muebles">Muebles del hogar</option>
                        </select>
                    </div> 

    
    <button class="btn btn-primary"> Registrar</button>
   </div>

</form>

</body>
</html>